.border-radius( @radius: 3px ) {
	-webkit-border-radius: @radius;
		 -moz-border-radius: @radius;
					border-radius: @radius;		
}

@body-color:#333;
@link-color: #666;
@standard-color: #8CC84B;

@light-link-color: #7cf;

body {font-family: sans-serif;color:@body-color;border-top: 6px #8CC84B solid;}

a {text-decoration:none;
  &:active,&:hover {text-decoration:none;}
}
time {font-size: 0.9em;font-style: italic;color: #aaa;}

header {
  @gradient-foreground: #ccc;
  @gradient-background: #fff;
  padding:  .5em 0;
  background: black;
  border-bottom: 1px solid #CCC;
  -webkit-box-shadow: 0 1px 7px rgba(0,0,0,.4);
  -moz-box-shadow: 0 1px 7px rgba(0,0,0,.4);
  box-shadow: 0 1px 7px rgba(0,0,0,.4);
  a {
    color:white;
    &:active,&:hover {color:darken(white, 20%);}
   }
}

.body-wrapper {margin-top: 50px;}

.backgrounded {
  background:black;
  padding: 15px 0;
  margin-bottom:25px;
  .border-radius(5px);
  h3, p {padding: 5px 25px;color:lightgreen;font-family:"Courier New", monospace;}
  a, {padding: 5px 25px;color: @light-link-color !important;
  &:hover {color: darken( @light-link-color, 20%);}
  }
}
.content {margin-top: 15px;margin-bottom: 25px;}
article {border-bottom: 2px solid darken(@standard-color, 20%);padding-top: 15px;}

.structure{list-style-type: none;margin-left: 0;}
.links, .blog-roll {margin: 15px 0 0}
.blog-roll{margin-bottom:15px;}















/* Google Prettify */

.com { color: #93a1a1; }
.lit { color: #195f91; }
.pun, .opn, .clo { color: #93a1a1; }
.fun { color: #dc322f; }
.str, .atv { color: #D14; }
.kwd, .linenums .tag { color: #1e347b; }
.typ, .atn, .dec, .var { color: teal; }
.pln { color: #48484c; }

.prettyprint {
  padding: 8px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}
.prettyprint.linenums {
  -webkit-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
     -moz-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
          box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin: 0 0 0 33px; /* IE indents via margin-left */
} 
ol.linenums li {
  padding-left: 12px;
  color: #bebec5;
  line-height: 18px;
  text-shadow: 0 1px 0 #fff;
}