@body-color:#333;
@link-color: #666;

body {font-family: sans-serif;color:@body-color;border-top: 6px #8CC84B solid;}

a {
  text-decoration:none;
  color:@link-color;
  &:active,&:hover {
    text-decoration:none;
    color:lighten(@link-color, 10%);
   }
}
time {
    font-size: 0.9em;
    font-style: italic;
    color: #aaa;
}

header {
  @gradient-foreground: #ccc;
  @gradient-background: #fff;
  padding:  .5em 0;
  background: black;
  border-bottom: 1px solid #CCC;
  -webkit-box-shadow: 0 1px 7px rgba(0,0,0,.4);
  -moz-box-shadow: 0 1px 7px rgba(0,0,0,.4);
  box-shadow: 0 1px 7px rgba(0,0,0,.4);
  a {
    color:white;
    &:active,&:hover {color:darken(white, 20%);}
   }
}

.body-wrapper {margin-top: 50px;}

.aboutme {
  font-family:"Courier New", monospace;
  background:black;
  color:lightgreen;
  padding: 15px 0;
  margin-bottom:25px;
  h3, p {padding: 5px 25px;}
}