@gradient-foreground: #ccc;
@gradient-background: #fff;
header {
  padding:  .5em 0;
  background: @gradient-background; /* fallback for non-supporting browsers */  
  background-image: -webkit-gradient(radial, top left, 0, bottom right, 100%, from(@gradient-foreground), to(@gradient-background), color-stop(90%, @gradient-background)); /* old WebKit Syntax */  
  background-image: -webkit-radial-gradient(top left, farthest-corner, @gradient-foreground 0%, @gradient-background 90%, @gradient-background 100%); /* New WebKit syntax */  
  background-image: -moz-radial-gradient(top left, farthest-corner, @gradient-foreground 0%, @gradient-background 90%, @gradient-background 100%);  
  background-image: -ms-radial-gradient(top left, farthest-corner, @gradient-foreground 0%, @gradient-background 90%, @gradient-background 100%); /* IE10+ */  
  background-image: -o-radial-gradient(top left, farthest-corner, @gradient-foreground 0%, @gradient-background 90%, @gradient-background 100%); /* Opera (13?) */  
  background-image: radial-gradient(top left, farthest-corner, @gradient-foreground 0%, @gradient-background 90%, @gradient-background 100%); /* standard syntax */  
}


body {font-family: sans-serif;}