<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title> The Wild Codeistan (In Berlin) - {{ page.title }} </title>
    <meta name="description" content="Ramblings">
    <meta name="author" content="Martin Peschke">
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="/static/favicon.ico">
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet/less" type="text/css" href="/static/css/site.less">
    <script src="/static/js/less-1.2.1.min.js" type="text/javascript"></script>
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
    
</head>
<body onload="prettyPrint()">
  <header>
    <div class="container">
      <div class="row">
        <div class="span6">
          <h1><a href="/">Berlin Codeistan</a></h1>
        </div>
      </div>
    </div>
  </header>
  <div class="container body-wrapper">
    <div class="row">
      <div class="span9">
      {{ content }}
      </div>
      
      <div class="span3 last">
        <div class="aboutme backgrounded">
          {% include aboutme.html %}
        </div>
        <div class="links">
          <ul class="structure">
            <li><a href="http://codeistan.com/atom.xml">Atom Feed</a></li>
          </ul>
        </div>
      
        <div class="blog-roll backgrounded">
          <h3>Blog Roll</h3>
          <ul class="structure">
            <li><a href="http://www.aloadofcode.com/">A Load of Code</a></li>
          </ul>
        </div>

        
      <script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
      <script>
      new TWTR.Widget({
        version: 2,
        type: 'profile',
        rpp: 5,
        interval: 30000,
        width: 'auto',
        height: 400,
        theme: {
          shell: {
            background: '#333333',
            color: '#ffffff'
          },
          tweets: {
            background: '#000000',
            color: '#ffffff',
            links: 'lightgreen'
          }
        },
        features: {
          scrollbar: false,
          loop: false,
          live: false,
          behavior: 'all'
        }
      }).render().setUser('martinpeschke').start();
      </script>
      
      
      </div>
      
      
      
    </div>
  </div>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-29125103-1']);
  _gaq.push(['_setDomainName', 'codeistan.com']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

<script src="/static/prettify/prettify.js"></script>
</body>
</html>